---
import Layout from "../../layouts/LayoutEN.astro";
import JoinServer from "../../components/JoinServer.astro";
import Card from "../../components/Card.astro";
---

<Layout>
  <div class="content">
    <h2>Welcome to <span class="title">щось</span><span class="title-en">(shchos)</span></h2>
    <JoinServer fontSize="24px" />
    <div class="cards">
      <Card title="Rules" desc="(Or Constitution of the server) it's rules of the server that everyone should read" href="/uk/rules" />
      <Card title="Sosem 3" desc="3 season of Minecraft server Sosem and information about server and how to join." href="/uk/sosem" />
    </div>
  </div>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    padding: 50px 0;
    margin: 0 auto;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }

  .title {
    color: #5865f2;
  }

  .title-en {
    color: #ffffff7b;
    font-size: 12px;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 80px;
  }
</style>
