---
import Layout from "../layouts/LayoutEN.astro";
---

<Layout>
  <div class="content">
    <h1>404 - Page Not Found</h1>
    <p>The page does not exist on this site.</p>
    <a href="/">Return to Home</a>
  </div>
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    padding: 50px 0;
    margin: 0 auto;
  }
</style>
